<div data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span history="back"></span>
        <span history="forward"></span>
        <a href="/#!/" class="navbar-brand">NBLeser</a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menu.items" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a ng-click="showTerms()" href="">Vilkår</a>
            </li>
        </ul>

        <div class="zoom-controls" ng-if="controls.show">
            <div class="form-inline" ng-show="showSettings">
                <p>Kvalitet</p>
                <select ng-model="controls.level" ng-options="level for level in controls.levelList" class="form-control">
                </select>
            </div>
            <div class="form-inline" ng-show="showSettings">
                <p>Zoom</p>
                <select ng-model="controls.zoom" class="form-control" ng-options="zoom.value as zoom.text for zoom in controls.zoomValues">
                </select>
            </div>
            <span class="glyphicon glyphicon-cog" ng-click="showSettings = !showSettings" title="Vis/skjul innstillinger"></span>
            <div class="form-inline">
                <p>Gå til side</p>
                <select ng-model="controls.currentPage" ng-change="controls.goto()" ng-options="page for page in controls.pageList" class="form-control">
                </select>
            </div>
        </div>
    </nav>
</div>
