<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">NBLeser</a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menu.items" ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
                    <a href="/#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <a ng-click="showTerms()">Vilkår</a>
            </li>
        </ul>

        <div class="zoom-controls" ng-if="controls.show">
            <div class="form-inline">
                <p>Kvalitet</p>
                <select ng-model="controls.level" ng-options="level for level in controls.levels" class="form-control">
                </select>
            </div>
            <div class="form-inline">
                <p>Zoom</p>
                <select ng-model="controls.zoom" class="form-control" ng-options="zoom.value as zoom.text for zoom in controls.zoomValues">
                </select>
            </div>
            <div class="goto form-inline">
                <form ng-submit="goto(page)">
                    <input type="number" ng-model="page" class="form-control">
                    <button class="btn btn-primary">Gå til side</button>
                </form>
            </div>
        </div>
    </nav>
</div>
