<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Norwegian IP</h3>
</div>
<div class="modal-body">
    <p>Doesn't seem like your IP is registered in Norway.
       Nasjonalbiblioteket only allows Norwegian IPs, so most likely any book you look up will be filled with empty images.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeModal()" focus-me>OK</button>
</div>
