<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Vilkår for bruk</h3>
</div>
<div class="modal-body">
    <p>Denne webappen leser bøker fra den digitale bokhylla til Nasjonalbiblioteket.</p>
    <p>Ved å bruke tjenesten samtykker du i at bøkene bare kan brukes gjennom tjenesten. Bøker kan ikke i noen form eller sammenheng lastes ned til egen maskin, kopieres eller gjenbrukes uten uttrykkelig samtykke fra den enkelte rettighetshaveren.</p>
    <p><strong>Denne tjenesten bruker Nasjonalbibliotekets åpne ressurser, og er ikke tilknyttet Nasjonalbiblioteket på noe vis.</strong></p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="closeTerms()" focus-me>OK</button>
</div>
