/* Mixins */
.github-fork-ribbon {
  background-color: #f80;
}
.modal-content .alert {
  margin-bottom: 0;
}
.history {
  color: #c0c0c0;
  font-size: 20px;
  float: left;
  padding: 12px 0;
  margin-left: 10px;
  cursor: pointer;
}
.history:hover {
  color: #fff;
}
.home {
  width: 90%;
  margin: 30px auto;
}
.home .top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.home .top .alert {
  margin: 20px 0 0 0;
}
.home .search-input > div {
  width: 50%;
  float: left;
}
.home .search-input input {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.home .search-input button {
  margin-left: 4px;
}
.home .search-tips {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #efefef;
  color: 333;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px;
}
.home .search-tips em {
  cursor: pointer;
  text-decoration: underline;
}
.ui-reset {
  margin-left: -30px;
  position: relative;
  top: 4px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 6px;
  color: #000;
}
a.ui-reset:hover {
  text-decoration: none;
}
.ui-reset:before {
  content: "\e014";
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.goto {
  float: right;
  padding-top: 8px;
}
.goto button {
  float: left;
  width: auto;
  margin-right: 4px;
}
.goto input {
  float: left;
  width: 65px !important;
  margin-right: 4px;
}
.menu {
  margin: 0;
  border-radius: 0;
}
.content {
  padding-top: 50px;
}

/* Mixins */

/* Mixins */
.book {
  margin: 0 auto;
}
.book .page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.book .page .tile-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.book .page .tile-row .image {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.book .page .tile-row .image img {
  width: 100%;
  height: auto;
  display: block;
}
.loading {
  background-image: url(/modules/core/img/loaders/loader.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10%;
}
.zoom-controls {
  float: right;
  padding-top: 4px;
}
.zoom-controls > div {
  float: left;
  padding: 0 10px;
}
.zoom-controls .glyphicon {
  color: #fff;
  float: left;
  font-size: 22px;
  padding-top: 8px;
}
.zoom-controls p {
  color: #fff;
  margin: 0;
  float: left;
  clear: none;
  padding-top: 8px;
  padding-right: 4px;
  font-size: 18px;
}
.zoom-controls select {
  float: left;
  width: auto;
}

/* Mixins */
.search {
  width: 90%;
  margin: 30px auto;
}
.search-list {
  padding-left: 0;
}
.search-list li.book-entry {
  list-style: none;
  padding: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.search-list strong {
  padding-left: 4px;
}
.search-list a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.search-list .details {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.search-list .details ul {
  padding-left: 0;
}
.search-list .details li {
  list-style: none;
}
.search-list .details .panel-group {
  margin-bottom: 0;
}
.search-list .details .les {
  margin-top: 6px;
}
.search-list .image {
  margin-right: 10px;
}
.search-list .image img {
  width: 56px;
  height: 80px;
  border-radius: 3px;
}
