/* Mixins */

.flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flexbox-center() {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex(@values) {
    -webkit-box-flex: @values;
    -moz-box-flex:  @values;
    -webkit-flex:  @values;
    -ms-box-flex: @values;
    -ms-flex:  @values;
    flex:  @values;
}
.flex-direction(@value) {
    -webkit-flex-direction:@value;
    flex-direction:@value;
}
.github-fork-ribbon {
    background-color: #f80;
}
.home {
    width:90%;
    margin:0 auto;
    .top {
        .flexbox();
        .flex-direction(column);
        .alert {
            margin:20px 0 0 0;
        }
    }
    .search-input {
        .flexbox();
        .flexbox-center();
        > * {
            margin-right:4px;
            .flexbox();
        }
        button {
            margin-right:4px;
        }
    }
    .search-tips {
         font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
         background-color:#efefef;
         color:333;
         padding:20px;
         border-radius:5px;
         border:solid 1px;
         em {
            cursor:pointer;
            text-decoration:underline;
         }
    }
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.zoom-controls {
    float:right;
    padding-top:4px;

    > div {
        float:left;
        padding:0 10px;
    }

    p {
        color:#ffffff;
        margin:0;
        float:left;
        clear:none;
        padding-top:8px;
        padding-right:4px;
        font-size:18px;
    }
    select {
        float:left;
        width:auto;
    }
}
.goto {
    float:right;
    padding-top:8px;
    button {
        float:left;
        width:auto;
        margin-right:4px;
    }
    input {
        float:left;
        width:65px !important;
        margin-right:4px;
    }
}

.container {
    padding: 0;
    margin: 0 auto;
}
.book {
    margin:0 auto;
    .page {
        .flexbox();
        .flex-direction(column);
        width:100%;
        min-height:100px;

        .tile-row {
            .flexbox();
            width:100%;

            img {
                width:100%;
                height:auto;
                display:block;
            }
        }
    }
}


.search-list {
    padding-left:0;
    li.book-entry {
        list-style:none;
        padding:10px;
        margin:5px;
        border:solid 1px;
        border-radius:3px;
        .flexbox();
        align-items:center;
    }
    strong {
        padding-left:4px;
    }
    a {
        text-decoration:none;
        color:#333;
        cursor:pointer;
    }
    .details {
        .flex(1);
        ul { padding-left:0; }
        li { list-style:none; }
        .panel-group {
            margin-bottom:0;
        }
    }
    .image {
        .flex(0.15);
        margin-right:10px;
        width: 50px;
        img {
            width: 63px; 
            height: 80px;
            border-radius: 3px;
        }
    }
}
