<section data-ng-controller="SearchController" class="search">
    <h4>Søkeresultat for <small>{{query}}</small></h3>
    <ul ng-repeat="result in searchResults" class="search-list">
        <li ng-repeat="book in result.entry" class="book-entry">
            <div class="image">
                <a ng-href="/#!/leser/{{book['nb:urn'].$t}}" title="Les boken">
                    <img ng-src="{{book.cover}}" />
                </a>
            </div>
            <div class="details">
                <accordion>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            <a title="Vis detaljer">{{book.title.$t}}</a>
                        </accordion-heading>
                        <ul>
                            <li><strong>År:</strong> {{book['nb:year'].$t}}</li>
                            <li><strong>Forfatter(e):</strong> {{book['nb:namecreators'].$t}}</li>
                            <li ng-if="book['nb:isbn'].$t"><strong>ISBN:</strong> {{book['nb:isbn'].$t}}</li>
                            <li><strong>URN:</strong> {{book['nb:urn'].$t}}</li>
                            <li ng-if="book['nb:subjecttopic'].$t"><strong>Stikkord: </strong>{{ book['nb:subjecttopic'].$t | semicolonList }}</li>
                        </ul>
                    </accordion-group>
                </accordion>
                <a class="btn btn-default les" ng-href="/#!/leser/{{book['nb:urn'].$t}}">Les</a>
            </div>
        </li>
    </ul>
</section>
