<section class="search" ng-class="{loading: searchResults.length == 0}" data-ng-controller="SearchController">
    <h4>Søkeresultat for <small>{{query}}</small></h3>
    <ul ng-repeat="result in searchResults" class="search-list">
        <li ng-repeat="book in result" class="book-entry">
            <div class="image">
                <a ng-href="#/leser/{{book.urn}}" tooltip="Trykk for å lese">
                    <img ng-src="{{book.cover}}" />
                </a>
            </div>
            <div class="details">
                <accordion>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            <a tooltip="Trykk for å vise detaljer">{{book.title}}</a>
                        </accordion-heading>
                        <ul>
                            <li><strong>Forfatter(e):</strong> {{book.namecreators}}</li>
                            <li><strong>Utgitt:</strong> {{book.year}}</li>
                            <li ng-if="book.isbn"><strong>ISBN:</strong> {{book.isbn}}</li>
                            <li><strong>URN:</strong> {{book.urn}}</li>
                            <li ng-if="book.subjecttopic"><strong>Stikkord: </strong>{{ book.subjecttopic | semicolonList }}</li>
                        </ul>
                    </accordion-group>
                </accordion>
                <a class="btn btn-default les" ng-href="#/leser/{{book.urn}}">Les</a>
            </div>
        </li>
    </ul>
</section>
