<section data-ng-controller="LeserController">
    <div class="book" ng-style="width()">
        <div ng-repeat="page in pages" id="{{$index + 1}}" class="page" page-height>
            <div ng-repeat="row in page.currentLevel.images" class="tile-row">
                <img ng-repeat="image in row" ng-if="show(scrollTop.value, page.offsetTop)"
                     style="-webkit-flex:{{$last && page.currentLevel.lastColumnScale ? page.currentLevel.lastColumnScale : 1}}"
                     ng-src="{{image}}" />
                </div>
            </div>
        </div>
    </div>
</section>
